<div class="content" role="main">
  <h2>Fórmulas</h2>
  <p>Cada uno de estos campos tiene una fórmula asociada</p>
  <p>Dichas fórmulas se calculan a partir de datos ingresados en otros campos</p>

  <input type="hidden" #selection value='vcm'>

  <div class="card-container">
    <div *ngFor="let formula of formulas | keyvalue" class="card card-small" (click)="selection.value = formula.key" tabindex="0">
      <span>{{formula.key | uppercase}}</span>
    </div>
  </div>

  <!-- Terminal -->
  <div class="terminal">
    <p>Descripción: {{formulas[selection.value].description}}</p>
    <p>Fórmula: {{formulas[selection.value].formula}}</p>
    <div [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>
          <label for="hematocrito">Hematocrito </label><input id="hematocrito" [(ngModel)]="vcmHematocrito" type="number">
          <br>
          <label for="hematies">Hematíes </label><input id="hematies" [(ngModel)]="vcmHematies" type="number">
          <br><br>
          <button (click)="getVcm()">Obtener valor</button>
          <span>{{vcm}}</span>  
      </pre>
      <pre *ngSwitchCase="'hcm'">
        <label for="hemoglobina">Hemoglobina </label><input id="hemoglobina" [(ngModel)]="hcmHemoglobina" type="number">
        <br>
        <label for="hematies">Hematíes </label><input id="hematies" [(ngModel)]="hcmHematies" type="number">
        <br><br>
        <button (click)="getHcm()">Obtener valor</button>
        <span>{{vcm}}</span>  
      </pre>
      <pre *ngSwitchCase="'ccmh'">
          <label for="hemoglobina">Hemoglobina </label><input id="hemoglobina" [(ngModel)]="ccmhHemoglobina" type="number">
          <br>
          <label for="hematocrito">Hematocrito </label><input id="hematocrito" [(ngModel)]="ccmhHematocrito" type="number">
          <br><br>
          <button (click)="getCcmh()">Obtener valor</button>
          <span>{{vcm}}</span>  
      </pre>
  </div>
  </div>
</div>
